<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
        
            <key>horseman-se-attack10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{74,80}</string>
                <key>textureRect</key>
                <string>{{0,0},{74,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-attack11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{74,80}</string>
                <key>textureRect</key>
                <string>{{74,0},{74,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-attack12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{74,80}</string>
                <key>textureRect</key>
                <string>{{148,0},{74,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-attack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{74,80}</string>
                <key>textureRect</key>
                <string>{{222,0},{74,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-attack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{74,80}</string>
                <key>textureRect</key>
                <string>{{296,0},{74,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-attack4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{74,80}</string>
                <key>textureRect</key>
                <string>{{370,0},{74,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-attack5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{74,80}</string>
                <key>textureRect</key>
                <string>{{444,0},{74,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-attack6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{74,80}</string>
                <key>textureRect</key>
                <string>{{518,0},{74,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-attack7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{74,80}</string>
                <key>textureRect</key>
                <string>{{592,0},{74,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-attack8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{74,80}</string>
                <key>textureRect</key>
                <string>{{0,80},{74,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-attack9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,80}</string>
                <key>spriteSourceSize</key>
                <string>{74,80}</string>
                <key>textureRect</key>
                <string>{{74,80},{74,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-die1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,72}</string>
                <key>spriteSourceSize</key>
                <string>{94,72}</string>
                <key>textureRect</key>
                <string>{{148,80},{94,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-die2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,72}</string>
                <key>spriteSourceSize</key>
                <string>{94,72}</string>
                <key>textureRect</key>
                <string>{{242,80},{94,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-die3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,72}</string>
                <key>spriteSourceSize</key>
                <string>{94,72}</string>
                <key>textureRect</key>
                <string>{{336,80},{94,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-die4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,72}</string>
                <key>spriteSourceSize</key>
                <string>{94,72}</string>
                <key>textureRect</key>
                <string>{{430,80},{94,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-die5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,72}</string>
                <key>spriteSourceSize</key>
                <string>{94,72}</string>
                <key>textureRect</key>
                <string>{{524,80},{94,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-run1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{618,80},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-run2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{698,80},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-run3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{778,80},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-run4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{0,160},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-run5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{80,160},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-run6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{160,160},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-run7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{240,160},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman-se-run8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{320,160},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

            <key>horseman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{400,160},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>

        </dict>
        <key>metadata</key>
        <dict>
        <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>unit_84.png</string>
            <key>size</key>
            <string>{94,80}</string>
            <key>textureFileName</key>
            <string>unit_84.png</string>

        </dict>
    </dict>
</plist>
