*~
.DS_Store
client/client/client.Android/bin
client/client/client.Android/obj
client/client/client.Common/bin
client/client/client.Common/obj
client/client/client.iOS/bin
client/client/client.iOS/obj
server/obj
server/bin
test/obj
test/bin
base/bin
base/obj
ascendancy.sln
ascendancy.userprefs
Backup/
_UpgradeReport_Files/
UpgradeLog/
UpgradeLog.XML
UpgradeLog.htm
UpgradeLog2.XML
UpgradeLog2.htm
server/data/world/
server/data/ascendancy-world/
server/data/.directory
tcpserver/bin/
tcpserver/obj/
*.Cache
