*~
.DS_Store
client/client/client.Android/bin
client/client/client.Android/obj
client/client/client.Common/bin
client/client/client.Common/obj
client/client/client.iOS/bin
client/client/client.iOS/obj
base/bin
ascendancy.sln
ascendancy.userprefs
